body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

input {
  border-radius: 0; }

#navigation {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: initial;
  position: fixed;
  z-index: 2;
  flex-wrap: wrap;
  transition: background-color 0.25s ease-out; }
  @media screen and (max-width: 980px) {
    #navigation {
      height: 60px; } }
  @media screen and (max-width: 640px) {
    #navigation {
      background-color: #fff; } }
  #navigation:hover {
    background-color: #fff; }
  #navigation a {
    text-decoration: none; }
    #navigation a #title {
      width: 130px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: initial;
      margin-left: 10px; }
      @media screen and (max-width: 980px) {
        #navigation a #title {
          margin-left: 0; } }
      @media screen and (max-width: 980px) {
        #navigation a #title {
          width: 100px; } }
      #navigation a #title img {
        width: 100%;
        height: auto; }
  #navigation #links {
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: initial; }
    @media screen and (max-width: 980px) {
      #navigation #links {
        display: none; } }
    #navigation #links a {
      text-decoration: none; }
      #navigation #links a .nav_link {
        width: auto;
        height: 50%;
        display: flex;
        justify-content: initial;
        align-items: center;
        flex-direction: initial;
        cursor: pointer; }
        #navigation #links a .nav_link span {
          font-size: 0.85em;
          color: #222;
          font-weight: auto; }
        #navigation #links a .nav_link:hover {
          box-sizing: border-box;
          border-bottom: 3px solid #fd8045; }
  #navigation #burger {
    width: 70px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: initial; }
    #navigation #burger #burger_toggle {
      width: 30px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      cursor: pointer; }
      #navigation #burger #burger_toggle .burger_line {
        width: 30px;
        height: 2px;
        background-color: #000; }
    @media screen and (max-width: 980px) {
      #navigation #burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: initial; } }
  #navigation #shopping_cart {
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: initial; }
    #navigation #shopping_cart i {
      font-size: 1.5em;
      color: #000;
      font-weight: auto; }
    @media screen and (max-width: 980px) {
      #navigation #shopping_cart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: initial; } }
  #navigation #dropdown {
    display: none;
    width: 100%;
    padding: 0px 15px; }
    #navigation #dropdown a {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: initial;
      align-items: center;
      flex-direction: initial;
      border-bottom: 1px solid #222; }
      #navigation #dropdown a:last-child {
        margin-bottom: 25px; }
      #navigation #dropdown a #dropdown_nav_link {
        width: 100%;
        height: auto; }
        #navigation #dropdown a #dropdown_nav_link span {
          font-size: 0.8em;
          color: #222;
          font-weight: auto; }
    @media screen and (max-width: 980px) {
      #navigation #dropdown {
        display: none; } }

#main-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column; }
  @media screen and (max-width: 980px) {
    #main-content {
      padding-top: 60px; } }
  #main-content #header-image {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: initial;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.imgur.com/CjZhv9J.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat; }
    @media screen and (max-width: 640px) {
      #main-content #header-image {
        height: 300px; } }
    #main-content #header-image span {
      font-size: 3.7em;
      color: #fff;
      font-weight: auto; }
      @media screen and (max-width: 640px) {
        #main-content #header-image span {
          font-size: 2.5em; } }
      @media screen and (max-width: 430px) {
        #main-content #header-image span {
          font-size: 1.8em; } }
    @media screen and (max-width: 640px) {
      #main-content #header-image {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.imgur.com/Ua4L4Tm.jpg");
        background-position: center center;
        background-size: 50%;
        background-repeat: repeat; } }
  #main-content .main-images {
    width: 100%;
    height: auto; }
    #main-content .main-images #main-image-sinatra {
      width: 100%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: initial;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.imgur.com/kDYvZme.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: repeat;
      cursor: pointer; }
      @media screen and (max-width: 640px) {
        #main-content .main-images #main-image-sinatra {
          height: 400px; } }
      @media screen and (max-width: 430px) {
        #main-content .main-images #main-image-sinatra {
          height: 300px; } }
      #main-content .main-images #main-image-sinatra span {
        font-size: 5em;
        color: #000;
        font-weight: 700; }
        @media screen and (max-width: 980px) {
          #main-content .main-images #main-image-sinatra span {
            font-size: 4em; } }
        @media screen and (max-width: 640px) {
          #main-content .main-images #main-image-sinatra span {
            font-size: 2.8em; } }
    #main-content .main-images #main-image-obama {
      width: 100%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: initial;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.imgur.com/TqB4mR8.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: repeat;
      cursor: pointer; }
      @media screen and (max-width: 640px) {
        #main-content .main-images #main-image-obama {
          height: 400px; } }
      @media screen and (max-width: 430px) {
        #main-content .main-images #main-image-obama {
          height: 300px; } }
      #main-content .main-images #main-image-obama span {
        font-size: 5em;
        color: #fff;
        font-weight: 700; }
        @media screen and (max-width: 980px) {
          #main-content .main-images #main-image-obama span {
            font-size: 4em; } }
        @media screen and (max-width: 640px) {
          #main-content .main-images #main-image-obama span {
            font-size: 2.8em; } }
    #main-content .main-images #main-image-warhol {
      width: 100%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: initial;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.imgur.com/s9BV040.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: repeat;
      cursor: pointer; }
      @media screen and (max-width: 640px) {
        #main-content .main-images #main-image-warhol {
          height: 400px; } }
      @media screen and (max-width: 430px) {
        #main-content .main-images #main-image-warhol {
          height: 300px; } }
      #main-content .main-images #main-image-warhol span {
        font-size: 5em;
        color: #000;
        font-weight: 700; }
        @media screen and (max-width: 980px) {
          #main-content .main-images #main-image-warhol span {
            font-size: 4em; } }
        @media screen and (max-width: 640px) {
          #main-content .main-images #main-image-warhol span {
            font-size: 2.8em; } }
    #main-content .main-images #main-image-eberhard {
      width: 100%;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: initial;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://i.imgur.com/ElsjtiO.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: repeat;
      cursor: pointer; }
      @media screen and (max-width: 640px) {
        #main-content .main-images #main-image-eberhard {
          height: 400px; } }
      @media screen and (max-width: 430px) {
        #main-content .main-images #main-image-eberhard {
          height: 300px; } }
      #main-content .main-images #main-image-eberhard span {
        font-size: 5em;
        color: #fff;
        font-weight: 700; }
        @media screen and (max-width: 980px) {
          #main-content .main-images #main-image-eberhard span {
            font-size: 4em; } }
        @media screen and (max-width: 640px) {
          #main-content .main-images #main-image-eberhard span {
            font-size: 2.8em; } }

#person_header_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial; }
  #person_header_container #person_header {
    width: 800px;
    height: auto;
    padding: 120px 20px 0px 20px; }
    #person_header_container #person_header h1 {
      font-size: 2.4em; }

#person_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial;
  padding: 60px 0px;
  box-sizing: border-box; }
  @media screen and (max-width: 980px) {
    #person_container {
      padding: 60px 20px; } }
  #person_container #person_grid {
    width: 800px;
    height: auto;
    column-count: 2;
    column-gap: 16px; }
    @media screen and (max-width: 640px) {
      #person_container #person_grid {
        column-count: 1; } }
    #person_container #person_grid .grid_block {
      break-inside: avoid-column;
      background-color: #2C2F33;
      margin-bottom: 16px;
      color: #fff; }
      #person_container #person_grid .grid_block img {
        display: block;
        width: 100%; }

#product_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 120px 0px 50px 0px; }
  @media screen and (max-width: 840px) {
    #product_container {
      padding-bottom: 0px; } }
  @media screen and (max-width: 840px) {
    #product_container {
      padding-top: 90px; } }
  @media screen and (max-width: 620px) {
    #product_container {
      padding-top: 60px; } }
  #product_container #product_grid {
    display: flex;
    width: 980px; }
    @media screen and (max-width: 1020px) {
      #product_container #product_grid {
        width: 800px; } }
    @media screen and (max-width: 840px) {
      #product_container #product_grid {
        flex-direction: column; } }
    #product_container #product_grid #product_image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 600px; }
      @media screen and (max-width: 1020px) {
        #product_container #product_grid #product_image_container {
          width: 50%; } }
      @media screen and (max-width: 840px) {
        #product_container #product_grid #product_image_container {
          width: 100%; } }
      @media screen and (max-width: 840px) {
        #product_container #product_grid #product_image_container {
          padding-bottom: 40px; } }
      #product_container #product_grid #product_image_container #product_image_frame {
        width: 100%;
        height: 100%; }
        @media screen and (max-width: 840px) {
          #product_container #product_grid #product_image_container #product_image_frame {
            width: 70%; } }
        @media screen and (max-width: 620px) {
          #product_container #product_grid #product_image_container #product_image_frame {
            width: 100%; } }
        #product_container #product_grid #product_image_container #product_image_frame .img_fill {
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-size: cover;
          background-position: center;
          background-image: url("https://i.imgur.com/7y64wpq.jpg"); }
    #product_container #product_grid #product_info_container {
      width: 55%;
      height: 600px; }
      @media screen and (max-width: 1020px) {
        #product_container #product_grid #product_info_container {
          width: 50%; } }
      @media screen and (max-width: 840px) {
        #product_container #product_grid #product_info_container {
          width: 100%; } }
      @media screen and (max-width: 840px) {
        #product_container #product_grid #product_info_container {
          height: auto; } }
      @media screen and (max-width: 840px) {
        #product_container #product_grid #product_info_container {
          padding-bottom: 40px; } }
      #product_container #product_grid #product_info_container #product_info_spacer {
        padding-left: 40px; }
        @media screen and (max-width: 620px) {
          #product_container #product_grid #product_info_container #product_info_spacer {
            padding-left: 20px; } }
        #product_container #product_grid #product_info_container #product_info_spacer #product_name_price h1 {
          font-size: 2.7em; }
        #product_container #product_grid #product_info_container #product_info_spacer #product_name_price span {
          font-size: 1.2em; }
        #product_container #product_grid #product_info_container #product_info_spacer #product_size {
          padding-top: 40px; }
          #product_container #product_grid #product_info_container #product_info_spacer #product_size #set_size_span {
            font-size: 1.3em; }
          #product_container #product_grid #product_info_container #product_info_spacer #product_size #var_size_span {
            font-size: 1.5em;
            padding-left: 2px; }
          #product_container #product_grid #product_info_container #product_info_spacer #product_size #product_size_radio {
            display: flex;
            justify-content: space-between;
            width: 330px;
            padding-top: 10px; }
            @media screen and (max-width: 620px) {
              #product_container #product_grid #product_info_container #product_info_spacer #product_size #product_size_radio {
                width: 250px; } }
            #product_container #product_grid #product_info_container #product_info_spacer #product_size #product_size_radio .product_size_select {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 70px;
              height: 30px;
              border: 1px solid #000;
              box-sizing: border-box;
              cursor: pointer; }
              @media screen and (max-width: 620px) {
                #product_container #product_grid #product_info_container #product_info_spacer #product_size #product_size_radio .product_size_select {
                  width: 50px; } }
              #product_container #product_grid #product_info_container #product_info_spacer #product_size #product_size_radio .product_size_select span {
                font-size: 1.1em; }
            #product_container #product_grid #product_info_container #product_info_spacer #product_size #product_size_radio #product_size_select_m {
              background-color: #000;
              color: #fff; }
      #product_container #product_grid #product_info_container #product_color {
        display: flex;
        padding-top: 50px; }
        #product_container #product_grid #product_info_container #product_color .product_color_select {
          width: 40px;
          height: 40px;
          margin-right: 20px;
          background-color: #333; }
          #product_container #product_grid #product_info_container #product_color .product_color_select:last-child {
            margin-right: 0; }
      #product_container #product_grid #product_info_container #product_shopping_cart {
        display: flex;
        padding-top: 60px; }
        #product_container #product_grid #product_info_container #product_shopping_cart #shopping_cart_cta {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 60px;
          border: 3px solid #000;
          box-sizing: border-box;
          cursor: pointer;
          transition: all 150ms ease-in-out; }
          #product_container #product_grid #product_info_container #product_shopping_cart #shopping_cart_cta:hover {
            background-color: #000;
            color: #fff; }
          #product_container #product_grid #product_info_container #product_shopping_cart #shopping_cart_cta span {
            font-size: 1.2em; }
            #product_container #product_grid #product_info_container #product_shopping_cart #shopping_cart_cta span i {
              padding-right: 7px;
              font-size: 1em; }
      #product_container #product_grid #product_info_container #product_features {
        padding-top: 50px;
        display: flex;
        flex-direction: column; }
        #product_container #product_grid #product_info_container #product_features span {
          padding-bottom: 5px; }
          #product_container #product_grid #product_info_container #product_features span i {
            padding-right: 5px; }

#footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  background-color: #333; }
  #footer #newsletter {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: initial;
    background-color: #222;
    padding: 0px 50px;
    box-sizing: border-box; }
    @media screen and (max-width: 640px) {
      #footer #newsletter {
        height: 100px; } }
    @media screen and (max-width: 640px) {
      #footer #newsletter {
        flex-direction: column; } }
    @media screen and (max-width: 640px) {
      #footer #newsletter {
        justify-content: center; } }
    @media screen and (max-width: 640px) {
      #footer #newsletter {
        padding: 0; } }
    #footer #newsletter #newsletter_container {
      display: flex;
      justify-content: initial;
      align-items: initial;
      flex-direction: initial; }
      #footer #newsletter #newsletter_container input[type='text'] {
        width: 190px;
        height: 30px;
        margin-right: 10px;
        padding: 0px 5px;
        border: 0;
        outline: 0;
        font-size: 0.9em; }
      #footer #newsletter #newsletter_container a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: initial;
        width: 100px;
        height: 30px;
        background-color: #fd8045;
        color: #fff;
        text-decoration: none; }
    #footer #newsletter p {
      color: #fd8045;
      margin-right: 10px; }
      @media screen and (max-width: 640px) {
        #footer #newsletter p {
          margin: 0px 0px 10px 0px; } }
  #footer #columns {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    flex-direction: initial;
    padding: 30px 50px 20px 50px;
    color: #fd8045;
    flex-wrap: wrap; }
    @media screen and (max-width: 980px) {
      #footer #columns {
        flex-direction: column; } }
    #footer #columns .column {
      display: flex;
      justify-content: initial;
      align-items: initial;
      flex-direction: column;
      max-width: 300px; }
      @media screen and (max-width: 980px) {
        #footer #columns .column {
          padding-bottom: 30px; } }
      #footer #columns .column h5 {
        margin-bottom: 15px;
        font-size: 1.0em; }
      #footer #columns .column a, #footer #columns .column p {
        font-size: 0.9em;
        color: #fd8045;
        font-weight: auto;
        margin-bottom: 15px;
        text-decoration: none; }
      #footer #columns .column .phone-contact {
        display: flex; }
        #footer #columns .column .phone-contact p {
          margin: 0px 0px 15px 18px; }
        #footer #columns .column .phone-contact i {
          color: #fd8045; }
      #footer #columns .column .email-contact a {
        margin-left: 10px; }
      #footer #columns .column .email-contact i {
        color: #fd8045; }
  #footer #copyright {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: initial;
    flex-direction: initial;
    font-size: 0.7em;
    color: #fd8045;
    font-weight: auto;
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid #000; }
    @media screen and (max-width: 640px) {
      #footer #copyright {
        margin-top: 25px; } }
    @media screen and (max-width: 640px) {
      #footer #copyright {
        padding-top: 10px; } }

/*# sourceMappingURL=main.css.map */
