#navigation {
	@include dimensions(100%, 80px);
	@include flex(flex, space-between);
	@include media-query($m-breakpoint, height, 60px);
	@include media-query($s-breakpoint, background-color, #fff);
	position: fixed;
	z-index: 2;
	flex-wrap: wrap;
	transition: background-color 0.25s ease-out;

	&:hover {
		background-color: #fff;
	}

	a {
		text-decoration: none;

		#title {
			@include dimensions(130px, 100%);
			@include flex(flex, center, center);
			@include media-query($m-breakpoint, margin-left, 0);
			@include media-query($m-breakpoint, width, 100px);
			margin-left: 10px;

			img {
				@include dimensions(100%);
			}
		}
	}

	#links {
		@include dimensions(700px, 100%);
		@include flex(flex, space-around, center);

		@include media-query($m-breakpoint, display, none);


		a {
			text-decoration: none;

			.nav_link {
				@include dimensions(auto, 50%);
				@include flex(flex, initial, center);
				cursor: pointer;

				span {
					@include text(0.85em, #222);
				}

				&:hover {
					box-sizing: border-box;
					border-bottom: 3px solid $main-orange;
				}
			}
		}
	}

	#burger {
		@include dimensions(70px, 60px);
		@include flex(none, center, center);

		#burger_toggle {
			@include dimensions(30px, 20px);
			@include flex(flex, space-between, center, column);
			cursor: pointer;

			.burger_line {
				@include dimensions(30px, 2px);
				background-color: #000;
			}
		}

		@media screen and (max-width: $m-breakpoint) {
			& {
				@include flex(flex, center, center);
			}
		}
	}

	#shopping_cart {
		@include dimensions(60px, 60px);
		@include flex(none, center, center);

		i {
			@include text(1.5em, #000);
		}

		@media screen and (max-width: $m-breakpoint) {
			& {
				@include flex(flex, center, center);
			}
		}
	}

	#dropdown {
		display: none;
		width: 100%;
		padding: 0px 15px;

		a {
			@include dimensions(100%, 40px);
			@include flex(flex, initial, center);
			border-bottom: 1px solid #222;

			&:last-child {
				margin-bottom: 25px;
			}

			#dropdown_nav_link {
				@include dimensions(100%, auto);

				span {
					@include text(0.8em, #222);
				}
			}
		}

		@include media-query($m-breakpoint, display, none);
	}
}