#shopping_cart_overlay(aria-hidden='true')
    #shopping_cart_spacer
        #shopping_cart_card
            #shopping_cart_close
                i(class="material-icons") &#xE5CD;
            #shopping_cart_container
                #shopping_cart_content
                    h1 Shopping Cart
nav#navigation
    #burger
        #burger_toggle
            .burger_line
            .burger_line
            .burger_line
    a#title_ref(href='index.html')
        #title
            img(src='https://i.imgur.com/3JbOl9g.jpg', alt='logo')
    #links
        a(href='#')
            .nav_link
                span SINATRA
        a(href='#')
            .nav_link
                span OBAMA
        a(href='#')
            .nav_link
                span WARHOL
        a(href='#')
            .nav_link
                span EBERHARD
        a(href='#')
            #custom.nav_link
                span CUSTOM
    #shopping_cart
        i.fa.fa-shopping-basket(aria-hidden='true')
    #dropdown
        a(href='#')
            #dropdown_nav_link
                span SINATRA
        a(href='#')
            #dropdown_nav_link
                span OBAMA
        a(href='#')
            #dropdown_nav_link
                span WARHOL
        a(href='#')
            #dropdown_nav_link
                span EBERHARD
        a(href='#')
            #dropdown_nav_link
                span CUSTOM
